<h1>Location#show</h1>
<p id="notice"><%= notice %></p>
<%= render 'form' %>
<p>
  <b>Address:</b>
  <%= @survey.address %>
</p>


<p>
  <b>Latidude</b>
  <%= @survey.latitude %>
</p>

<p>
  <b>Longitude</b>
  <%= @survey.longitude %>
</p>
